.conteriner {
  display: flex;
  flex-direction: column;
}
.contact {
  width: fit-content;
  margin: 25px;
}
h1 {
  text-align: center;
  font-size: 3em;
}

.rainbow {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 130, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(130, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 130);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 130, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(130, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 130);
  }
}
.bodyEl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
